

.me{
    margin-left: 115px;
    margin-right: 115px;
  
}

.skills{
    margin-left: 10px;
    margin-right: 10px;
   
}

.mb-5 {
    margin-bottom: 0 !important;
}
.contact{
    margin-left: 10px;
    margin-right: 10px;
}

.my-res{
   
    width: 70%;
    height: 70%;
    border-radius: 10px;
}